
h1 {
  color: #333;
  text-align: center;
}

input, button {
  padding: 8px;
  margin: 5px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
}

ul {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

button:hover {
  background-color: #0056b3;
}

.ToDo-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 7px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.ToDo-item input[type="checkbox"] {
  margin-right: 10px;
}

.ToDo-item p {
  flex-grow: 1;
  margin: 0;
}

.ToDo-item button {
  margin-left: 10px;
}
